extends layout

block content
  h1= title

  div(style="display: flex;justify-content: space-between;")
    div
      h3 Successfully saved to DB so far: #{successfullySavedStatements.length}
      br
      h3= 'Failed DB validation this go-around:'
      each items, message in failedDbStatements
        li= message + ': ' + items.length
      br
      h3 Failed to fetch from URLs: #{failedFetchStatements.length}
      each url in failedFetchStatements
        li
          a(href=url)= url

    div
      a(href='/') Homepage
      br
      br
      a(
        href='/fetch-statements'
        class=""
      ) 1. Fetch Statements
      br
      br
      a(
        href='/refetch-statements'
        class=""
      ) 2. Refetch Outstanding Statements
      br
      br
      if !failedFetchStatementsModified
        a(
          href='/refetch-statements?q=mod'
          class=""
        ) 2. Refetch Outstanding Statements - Modify
      br
      br
      a(href='/set-numbers') 3. Set Numbers (statement days, SNAP, etc)
      br
      br
      a(href='/hash-days') 4. Create Hash Map of Statement Days
      br
      br
      a(href='/get-priors') 5. Find Year Priors and Resave Statements
      br
      br

      h2 Getting Latest
      a(
        href='/latest-statements'
        class=""
      ) 1. Fetch Latest Statements
      br
      br
      a(
        href='/refetch-statements'
        class=""
      ) 2. Refetch Outstanding Statements
      br
      br
      a(href='/set-numbers?q=latest') 3. Set Numbers (statement days, SNAP, etc)
      br
      br
      a(href='/hash-days') 4. Create Hash Map of Statement Days
      br
      br
      a(href='/get-priors') 5. Find Year Priors and Resave Statements
      br
      br